<div class="dropdown">
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
		<i class="icon-shopping-cart"></i> Mon panier <span class="badge">1</span> <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li class="dropdown-text">1 article</li>
		<li class="divider"></li>
		<li class="dropdown-text">124,58 € HT</li>
		<li class="dropdown-text">149,00 € TTC</li>
		<li class="dropdown-text">hors frais de port</li>
		<li class="divider"></li>
		<li><a href="#">Voir mon panier</a></li>
	</ul>
</div>