<form method="post" action="#form_12636_anchor" id="form_12636_b_10" class="form-horizontal">
	<fieldset>
		<legend class="h1">Formulaire de contact</legend>
		<div class="description">
			<p>Vous êtes sur une plateforme de démonstration, ce formulaire de contact ne fonctionnera
			pas pour joindre l'équipe RBS Change, pour cela rendez-vous sur la page <a href="http://www.rbschange.fr/contact.html">http://www.rbschange.fr/contact.html</a>.</p>
		</div>
		<div id="field12637" class="form-group">
			<label for="field_12637" class="col-sm-4 col-lg-3 control-label">Civilité</label>
			<div class="col-sm-8 col-lg-9">
				<select class="form-control" name="formParam[cividivte]" id="field_12637">
					<option selected="selected" value="">Sélectionner...</option>
					<option value="M">M</option>
					<option value="Mlle">Mlle</option>
					<option value="Mme">Mme</option>
				</select>
			</div>
		</div>
		<div id="field12638" class="form-group">
			<label for="field_12638" class="col-sm-4 col-lg-3 control-label">
				<em class="requiredsymbol" title="(Ce champ est obligatoire)">*</em>
				Prénom</label>
			<div class="col-sm-8 col-lg-9">
				<input class="form-control" type="text" name="formParam[prenom]" id="field_12638" size="50" maxlength="255"
					value="Mario" autocorrect="on" autocapitadivze="on" autocomplete="on" required="required" />
			</div>
		</div>
		<div id="field12639" class="form-group">
			<label for="field_12639" class="col-sm-4 col-lg-3 control-label">
				<em class="requiredsymbol" title="(Ce champ est obligatoire)">*</em>
				Nom</label>
			<div class="col-sm-8 col-lg-9">
				<input class="form-control" type="text" name="formParam[nom]" id="field_12639" size="50" maxlength="255" value="Bros"
					title="" autocorrect="on" autocapitadivze="on" autocomplete="on" required="required" />
			</div>
		</div>
		<div id="field12640" class="form-group has-warning">
			<label for="field_12640" class="col-sm-4 col-lg-3 control-label">
				Société</label>
			<div class="col-sm-8 col-lg-9">
				<input class="form-control" type="text" name="formParam[societe]" id="field_12640" size="50" maxlength="255" value=""
					title="" autocorrect="on" autocapitadivze="on" autocomplete="on"/>
				<span class="help-block">Si vous nous contactez à titre professionnel.</span>
			</div>
		</div>
		<div id="field12641" class="form-group has-error">
			<label for="field_12641" class="col-sm-4 col-lg-3 control-label">
				<em class="requiredsymbol" title="(Ce champ est obligatoire)">*</em>
				Code postal</label>
			<div class="col-sm-8 col-lg-9">
				<input class="form-control" type="text" name="formParam[codepostal]" id="field_12641" size="5" maxlength="5" value=""
					title="" autocorrect="on" autocapitadivze="on" autocomplete="on" required="required" />
			</div>
		</div>
		<div id="field12642" class="form-group has-success">
			<label for="field_12642" class="col-sm-4 col-lg-3 control-label">
				<em class="requiredsymbol" title="(Ce champ est obligatoire)">*</em>
				Ville</label>
			<div class="col-sm-8 col-lg-9">
				<input class="form-control" type="text" name="formParam[ville]" id="field_12642" size="50" maxlength="255" value=""
					title="" autocorrect="on" autocapitadivze="on" autocomplete="on" required="required" />
			</div>
		</div>
		<div id="field12644" class="form-group">
			<label for="field_12644" class="col-sm-4 col-lg-3 control-label">
				<em class="requiredsymbol" title="(Ce champ est obligatoire)">*</em>
				Adresse e-mail</label>
			<div class="col-sm-8 col-lg-9">
				<input class="form-control" type="text" name="formParam[email]" id="field_12644" size="50" maxlength="255"
					value="mario.bros@rbs.fr" autocorrect="off" autocapitadivze="off" autocomplete="on" required="required" />
			</div>
		</div>
		<div id="field12645" class="form-group">
			<label for="field_12645" class="col-sm-4 col-lg-3 control-label">Téléphone</label>
			<div class="col-sm-8 col-lg-9">
				<input class="form-control" type="text" name="formParam[telephone]" id="field_12645" size="50" maxlength="20"
					value="03 88 764 764" autocorrect="on" autocapitadivze="on" autocomplete="on" disabled="disabled" />
			</div>
		</div>
		<div id="field12645" class="form-group">
			<label for="field_12645" class="col-sm-4 col-lg-3 control-label">Valeur optionnelle</label>
			<div class="col-sm-8 col-lg-9">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox">
					</span>
					<input class="form-control" type="text" name="formParam[optional]" id="field_12645" size="50" maxlength="20" />
				</div>
			</div>
		</div>
		<div id="field12646" class="form-group">
			<label for="field_12646" class="col-sm-4 col-lg-3 control-label">Message</label>
			<div class="col-sm-8 col-lg-9">
				<textarea class="form-control" name="formParam[message]" id="field_12646" cols="50" rows="10" required="required">
				</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4 col-lg-3"></div>
			<div class="col-sm-8 col-lg-9">
				<input type="hidden" name="formParam[selfUrl]" value="/fr/website/Nous-contacter,14309.html"/>
				<input type="hidden" name="formParam[backUrl]"
					value="http://site36.intportgchange.fr/fr/blog/La-voiture-12724/L-industrie,12742.html"/>
				<input type="submit" class="btn btn-primary" name="formParam[submit_12636_formb_10]" id="submit_12636_formb_10"
					value="Envoyer"/>
				<input type="reset" class="btn btn-default" value="Annuler"/>
			</div>
		</div>
	</fieldset>
</form>