<div class="row">
	<div class="col-xs-6">
		<h3>Paragraphes</h3>
		<p>sans classe</p>
		<p class="text-muted">.text-muted</p>
		<p class="text-primary">.text-primary</p>
		<p class="text-warning">.text-warning</p>
		<p class="text-danger">.text-danger</p>
		<p class="text-success">.text-success</p>
		<p class="text-info">.text-info</p>

		<h3>Listes avec classes sur le li</h3>
		<ul class="bullet">
			<li>sans classe</li>
			<li class="text-muted">.text-muted</li>
			<li class="text-primary">.text-primary</li>
			<li class="text-warning">.text-warning</li>
			<li class="text-danger">.text-danger</li>
			<li class="text-success">.text-success</li>
			<li class="text-info">.text-info</li>
		</ul>

		<h3>Listes ordonnées avec classes sur le li</h3>
		<ol class="bullet">
			<li>sans classe</li>
			<li class="text-muted">.text-muted</li>
			<li class="text-primary">.text-primary</li>
			<li class="text-warning">.text-warning</li>
			<li class="text-danger">.text-danger</li>
			<li class="text-success">.text-success</li>
			<li class="text-info">.text-info</li>
		</ol>

		<h3>Listes avec classe sur le ol</h3>
		<ol class="bullet">
			<li>sans classe</li>
			<li>sans classe</li>
		</ol>
		<ol class="text-muted bullet">
			<li>.text-muted</li>
			<li>.text-muted</li>
		</ol>
		<ol class="text-primary bullet">
			<li>.text-primary</li>
			<li>.text-primary</li>
		</ol>
		<ol class="text-warning bullet">
			<li>.text-warning</li>
			<li>.text-warning</li>
		</ol>
		<ol class="text-danger bullet">
			<li>.text-danger</li>
			<li>.text-danger</li>
		</ol>
		<ol class="text-success bullet">
			<li>.text-success</li>
			<li>.text-success</li>
		</ol>
		<ol class="text-info bullet">
			<li>.text-info</li>
			<li>.text-info</li>
		</ol>

		<h3>Listes avec classe sur le ul</h3>
		<ul class="bullet">
			<li>sans classe</li>
			<li>sans classe</li>
		</ul>
		<ul class="bullet text-muted">
			<li>.text-muted</li>
			<li>.text-muted</li>
		</ul>
		<ul class="bullet text-primary">
			<li>.text-primary</li>
			<li>.text-primary</li>
		</ul>
		<ul class="bullet text-warning">
			<li>.text-warning</li>
			<li>.text-warning</li>
		</ul>
		<ul class="bullet text-danger">
			<li>.text-danger</li>
			<li>.text-danger</li>
		</ul>
		<ul class="bullet text-success">
			<li>.text-success</li>
			<li>.text-success</li>
		</ul>
		<ul class="bullet text-info">
			<li>.text-info</li>
			<li>.text-info</li>
		</ul>

		<h3>Imbrications</h3>
		<ul class="bullet">
			<li>sans classe</li>
			<li>sans classe</li>
			<li>
				<ul class="bullet text-muted">
					<li>.text-muted qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd</li>
					<li>.text-muted</li>
					<li>
						Test
						<ul class="bullet text-primary">
							<li>.text-primary</li>
							<li>.text-primary</li>
							<li>
								<ol class="bullet text-success">
									<li>.text-success qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd</li>
									<li>.text-success</li>
								</ol>
							</li>
							<li>
								<ul class="bullet text-info">
									<li>.text-info</li>
									<li>.text-info</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<ol class="bullet text-danger">
							<li>.text-danger</li>
							<li>.text-danger</li>
							<li>
								<ol class="bullet text-primary">
									<li>.text-primary</li>
									<li>
										<ul class="bullet text-warning">
											<li>.text-warning</li>
											<li>.text-warning qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd</li>
										</ul>
									</li>
									<li>.text-primary</li>
								</ol>
							</li>
							<li>.text-danger qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd</li>
							<li>.text-danger</li>
						</ol>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-xs-6">
		<h3>Liste ordonnée à plus de 100 éléments</h3>
		<ol class="bullet">
			<li>.text-danger qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd qsdqsd qsd qsdq sdq sdqsd</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
			<li>.text-danger</li>
		</ol>
	</div>
</div>

<h3>listgroup</h3>
<div class="row">
	<div class="col-xs-4">
		<ul class="list-group">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge">14</span>
				Cras justo odio
			</li>
			<li class="list-group-item">
				<span class="badge">14555</span>
				Porta ac consectetur ac
			</li>
			<li class="list-group-item">
				<span class="badge">2</span>
				Vestibulum at eros
			</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="list-group">
			<li class="list-group-item">
				<h4 class="list-group-item-heading">List group item heading</h4>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</li>
			<li class="list-group-item active">
				<h4 class="list-group-item-heading">List group item heading</h4>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</li>
			<li class="list-group-item active">
				<h4 class="list-group-item-heading">List group item heading</h4>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</li>
		</ul>
	</div>
</div>

<h3>listgroup avec liens</h3>
<div class="row">
	<div class="col-xs-6">
		<div class="list-group">
			<a href="#" class="list-group-item active">Cras justo odio</a>
			<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
			<a href="#" class="list-group-item">Morbi leo risus</a>
			<a href="#" class="list-group-item">Porta ac consectetur ac</a>
			<a href="#" class="list-group-item disabled">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="list-group">
			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">List group item heading</h4>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</a>
			<a href="#" class="list-group-item active">
				<h4 class="list-group-item-heading">List group item heading</h4>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</a>
			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">List group item heading</h4>
				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			</a>
		</div>
	</div>
</div>