<h3>jumbotron</h3>
<div class="jumbotron">
	<h1>Hello, world!</h1>
	<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<h3>page-header</h3>
<div class="page-header">
	<h1>Example page header <small>Subtext for header</small></h1>
</div>

<h3>Badges</h3>
<p><a href="#">Inbox <span class="badge">42</span></a></p>
<p>Inbox <a href="#"class="badge">42</a></p>

<ul class="nav nav-pills">
	<li class="active"><a href="#">Home <span class="badge">42</span></a></li>
	<li><a href="#">Profile</a></li>
	<li><a href="#">Messages <span class="badge">3</span></a></li>
</ul>
<br>
<ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
	<li class="active">
		<a href="#">
			<span class="badge pull-right">42</span>
			Home
		</a>
	</li>
	<li><a href="#">Profile</a></li>
	<li>
		<a href="#">
			<span class="badge pull-right">3</span>
			Messages
		</a>
	</li>
</ul>

<h3>Accordion</h3>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				Collapsible Group Item #1
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				...
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Collapsible Group Item #2
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				...
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				Collapsible Group Item #3
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				...
			</div>
		</div>
	</div>
</div>

<h3>Toggle</h3>
<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
	simple collapsible
</button>

<div id="demo" class="collapse in">...</div>

<h3>wells</h3>
<div class="well well-sm">
	Look, I'm in a well!
	<blockquote>Citation</blockquote>
	Test
</div>
<div class="well">
	Look, I'm in a well!
	<blockquote>Citation</blockquote>
	Test
</div>
<div class="well well-lg">
	Look, I'm in a well!
	<blockquote>Citation</blockquote>
	Test
</div>

